<main>
  <div class="pagination__container">
    <div class="filters__container">
      <h4>Filters:</h4>
      <div>category</div>
      <button class="pagination__button">most expensive</button>
      <button class="pagination__button">less expensive</button>
    </div>
    <div class="pages__container">
      <a href={{response.prevLink}}><button
        class="pagination__button"
      >Anterior</button></a>
      <a href={{response.nextLink}}><button
        class="pagination__button"
      >Siguiente</button></a>
    </div>
  </div>
  <div class="products__container">
    {{#each response.payload}}
      <div class="product__container">
        <div class="product__category">
          <span>{{this.category}}</span>
        </div>
        <h3 class="product__title">{{this.title}}</h3>
        <div class="product__img--container">
          <img src={{this.thumbnail}} alt={{this.title}} />
        </div>
        <h4 class="product__price">${{this.price}}</h4>
        <a href="/products/{{this._id}}"><button
            class="product__button"
          >Info</button></a>
        </div>  
    {{/each}}
  </div>
  <div class="pagination__container">
    <div class="filters__container">
      <h4>Filters:</h4>
      <div>category</div>
      <button class="pagination__button">most expensive</button>
      <button class="pagination__button">less expensive</button>
    </div>
    <div class="pages__container">
      <a href={{response.prevLink}}><button
          class="pagination__button"
        >Anterior</button></a>
      <a href={{response.nextLink}}><button
          class="pagination__button"
        >Siguiente</button></a>
    </div>
  </div>
</main>