<div>
        <button id="btn_new-product">Create New Product</button>
    <section id="new_product">
        {{!-- Aca va el fomuralio para cargar un producto nuevo --}}
    </section>

    <h1 class="title">Hola, bienvenidos a mi tienda <i style="color: red;">realTimeProducts</i> productos!</h1>

    <section id="card__container" class="cards">
        
        {{#each products}}
        
            <a href="/products/{{this.code}}">
                <div class="card__item-socket">
                    <img class="card__img" src={{this.thumbnail}}>
                    <hr>
                    <div class="card__body">
                        
                        <p>{{this.title}}</p>
                        <p><b>{{this.description}}</b></p>
                        <p>Price:$<i>{{this.price}}</i></p>
                        <p>Stock Available: {{this.stock}}</p>
                    </div>
                </div>
            </a>
        {{/each}}

        
    </section>

</div>

<script src="./js/main.js"></script>