<div>

    <h1 class="title">Hello {{user.name}}, Wellcome to the Store.</h1>
    
    <section class="cards">
    {{#if isLogged}}
        {{#each products}}
            <div class="card__item">
                <hr>
                <p>{{this.title}}</p>
                <p><b>{{this.description}}</b></p>
                <p>Price: <i>${{this.price}}</i></p>
                <p>Stock Available: {{this.stock}}</p>
                <hr>
            </div>
        {{/each}}
    </section>

    {{else}}
    <h2>necesitas estar registrado para poder ver los productos</h2>
    {{/if}}

</div>